* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: rgb(3, 0, 17);
  display: flex; /* Ativa o Flexbox no body. */
  justify-content: center; /* Centraliza o cartão horizontalmente. */
  align-items: center; /* Centraliza o cartão verticalmente. */
  height: 100%;
}

/* Contêiner do cartão */
#cartao-container {
  perspective: 1000px; /* Ativa o efeito 3D */
}

/* Cartão em si */
#cartao {
  width: 250px;
  height: 375px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.8s ease; /* Animação suave */
}

#cartao-container:hover #cartao {
  transform: rotateY(180deg); /* Rota o cartão no hover */
}

/* Estilo dos lados do cartão */
.cartao-frente,
.cartao-verso {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; /* Esconde o lado oposto */
  border-radius: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: white;
  box-shadow: 0px 0px 15px rgba(17, 160, 207, 0.7);
}

/* Frente do cartão */
.cartao-frente {
  background-image: linear-gradient(90deg, black, rgb(17, 160, 207), black);
}

/* Verso do cartão */
.cartao-verso {
  background-image: linear-gradient(
    90deg,
    rgb(207, 17, 160),
    black,
    rgb(17, 160, 207)
  );
  transform: rotateY(180deg); /* Rotaciona o verso para ficar "de costas" */
}
